.portlet-footer{
	height:90px;
}
.portlet-footer .form-group{
	float:left;
	margin-top:8px;
	margin-bottom:8px;
}
#sender{
	width:15%;
	font-size:1.3em;
	text-align:center;
	
}
#msgtext{
	width:70%;
	margin-left:10px;
}
#msgtext textarea{
	height:60px;
	width:95%;
}
#sendbtn{
	width:10%;
	margin-left:10px;
}